<ion-header>
	<ion-toolbar>
		<ion-title>

		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="ion-padding">
		<p>
			{{ storyForm.value | json }}
		</p>
		<!-- <form [formGroup]="storyForm" (ngSubmit)="onStorySubmit()">
        <ion-item>
            <ion-label position="floating">E-Mail <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required formControlName="email" type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Password <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required formControlName="password" type="text"></ion-input>
        </ion-item>
        <ion-button block color="primary" type="submit" [disabled]="storyForm.invalid">
            Login
        </ion-button>
    </form> -->
	</div>
	<form [formGroup]="storyForm">
		<mat-vertical-stepper formArrayName="formArray">
			<mat-step label="Step 1" formGroupName="0" [stepControl]="formArray?.get([0])">
                Image:
                <input matInput required formControlName="image">
			</mat-step>
			<mat-step label="Step 2" formGroupName="1" [stepControl]="formArray?.get([1])">
                Story:
                <input matInput required formControlName="story">
			</mat-step>
		</mat-vertical-stepper>
	</form>
</ion-content>